*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  background: var(--roxo-claro);
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
}